{% extends "travel_app/base.html" %}
{% load static from staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-6">
      <h2> Museums in {{ city }}</h2>

      {% for museum in museums %}
        <h3>{{ museum.title }}</h3>
        <div>
          {% for image_url in museum.images  %}
          <img src="{{ image_url }}" alt="{{ museum.title }}">
            {% endfor %}
        </div>
        <div>
          {% for lang in museum.languages %}
          <a href="{% url "museum_detail" id_=museum.museum_uuid lang=lang %}">{{ lang }}</a>
          {% endfor %}
        </div>
        <div class="details-link">
          <a href="{% url "museum_detail" id_=museum.museum_uuid lang=museum.language %}">Details about museum</a>
        </div>
      {% endfor %}

      {% for museum in foursquare_museums %}
        <h3>{{ museum.name }}</h3>
        <div>
          <img src="{{ museum.photo }}" alt="{{ museum.title }}">
        </div>
        {% if museum.phone != None %}
          <div>
            <h3>phone: {{museum.phone}}</h3>
          </div>
        {% endif %}
        {% if museum.address %}
        <div>
          <h3>address: {{museum.address}}</h3>
        </div>
        {% endif %}
        {% if museum.url %}
          <div class="details-link">
            <a href="{{ museum.url }}">Site of the museum</a>
          </div>
        {% endif %}
      {% endfor %}

    </div>

    <div class="col-sm-12 col-xs-12 col-md-6">
      <h2> Tours in {{ city }}</h2>

      {% for tour in tours %}
        <h3>{{ tour.title }}</h3>
        {% for image in tour.images %}
          <div>
            <img src="{{ image }}" alt="{{ tour.title }}">
          </div>
          <div>
          {% for lang in tour.languages %}
            <a href="{% url "tour_detail" id_=tour.tour_uuid lang=lang %}">{{ lang }}</a>
          {% endfor %}
        </div>
          <div class="details-link">
            <a href="{% url "tour_detail" id_=tour.tour_uuid lang=tour.language %}">Details about tour</a>
          </div>
        {% endfor %}
      {% endfor %}

      {% for tour in foursquare_tours %}
        <h3>{{ tour.name }}</h3>
        <div>
          <img src="{{ tour.photo }}" alt="{{ tour.title }}">
        </div>
        {% if tour.phone %}
          <div>
            <h3>phone: {{tour.phone}}</h3>
          </div>
        {% if tour.address %}
        {% endif %}
          <div>
            <h3>address: {{tour.address}}</h3>
          </div>
        {% endif %}
        {% if tour.url %}
          <div class="details-link">
            <a href="{{ tour.url }}">Site of the tour</a>
          </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>
{% endblock %}
